<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236108745936-n27vsoc22ef790ukr58hntm8jfndud59.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236108745936-n27vsoc22ef790ukr58hntm8jfndud59</string>
	<key>API_KEY</key>
	<string>AIzaSyDPYbemB2G4H4PQdPyfXMM1Srq4mFFVlQU</string>
	<key>GCM_SENDER_ID</key>
	<string>236108745936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hellomayuko.walkies</string>
	<key>PROJECT_ID</key>
	<string>walkies-bf960</string>
	<key>STORAGE_BUCKET</key>
	<string>walkies-bf960.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236108745936:ios:f67b7722914d14d00ce2d5</string>
	<key>DATABASE_URL</key>
	<string>https://walkies-bf960.firebaseio.com</string>
</dict>
</plist>